.body {
    background-color: white;
}

/* navbar */
nav {
    display: flex;
    background-color: black;
    height: 30px;
    width: 96.70%;
    padding: 20px 10px 20px 20px;
    position: fixed;
    top: 0;
}

.nav-item {
    display: flex;
    margin-left: 380px;
    font-size: 1.25rem;
}

.brand {
    margin-left: 50px;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.fav {
    width: 30px;
}

.nav-link-item {
    padding: 0 40px 0;
}

a {
    color: orange;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    color: white;
}
/* navbar end */

/* H */
h1 {
    color: navy blue;
    padding-left: 30px;
    line-height: 1;
}


h4 {
    color:  rgb(230, 154, 15);
    text-align: center;
}

.img {
    width: 50px;
    height: 30px;
}
/* H end */

/* home */
.home {
    background-color: aqua;
    margin: 0;
}

.dis {
    padding: 50px;
}

.dis-dis {
    width: 20%;
    padding-left: 30px;
}

.hm {
    margin-left: 700px;
    margin-top: -250px;
}

.btn-2 {
    background: rgb(255, 0, 128);
    background-image: -webkit-linear-gradient(top, rgb(255, 0, 128) rgb(250, 19, 135));
    background-image: -moz-linear-gradient(top, rgb(255, 0, 128), rgb(250, 19, 135));
    background-image: -ms-linear-gradient(top, rgb(255, 0, 128) rgb(250, 19, 135));
    background-image: -o-linear-gradient(top, rgb(255, 0, 128) rgb(250, 19, 135));
    background-image: linear-gradient(to bottom, rgb(255, 0, 128) rgb(250, 19, 135));
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    margin: -70px auto auto 100px;
}

.btn-2:hover {
    background: rgb(253, 86, 170);
    background-image: -webkit-linear-gradient(top, rgb(253, 86, 170) rgb(212, 53, 133));
    background-image: -moz-linear-gradient(top, rgb(253, 86, 170) rgb(212, 53, 133));
    background-image: -ms-linear-gradient(top, rgb(253, 86, 170) rgb(212, 53, 133));
    background-image: -o-linear-gradient(top, rgb(253, 86, 170) rgb(212, 53, 133));
    background-image: linear-gradient(to bottom, rgb(253, 86, 170) rgb(212, 53, 133));
    text-decoration: none;
}
/* home end */

/* about */
.about {
    margin: 100px 100px;
}

.head {
    font-size: 20px;
    color: orange;
    text-align: center;
}

.head-dis {
   text-align: center;
   margin-top: -15px;
}

.img-1 {
    margin-left: 3%;
}

.img-2 {
   margin-left: 38%;
}


.img-3 {
    margin-left: 35%;
}

.about-image-head {
    display: flex;
    padding: 30px 0 10px;
    color: navy;
}

.head-2 {
   margin-left: 370px;
}

.head-3 {
   margin-left: 300px
}

.dis-123 {
   margin-top: -15px;
   text-align: center;
}

.dis-1 {
    position: absolute;
    left: 20px;
    margin-top: 10px;
}

.dis-3 {
    position: absolute;
    right: 80px ;
    margin-top: -57px;
    
}

/* about end */
/* features */
.features{
    background-color: bisque;
    padding: 30px 0 30px;
}

.fe-img {
    padding: 30px;
}

.h3 {
    color: navy;
    margin-left: 53px;
    margin-top: -45px;
}

.p-1 {
    width: 20%;
    color: black;
}

.p-2 {
    width: 50%;
    color: black;
}

.p-3 {
    width: 95%;
    color: black;
}

.watch {
    margin-top: -500px;
    margin-left: 35%;
}

.fe-img-2 {
    margin-top: -450px;
    margin-left: 73%;
}

/* features end */
/* rewiews */

.reviews {
    padding: 30px;
    background-color: rgb(255, 0, 128);
}

.re-img {
    height: 100px;
    width: 100px;
    float: left;
}

.comment {
    margin-left: 110px;
}

#com-nam {
    margin-top: -10px;
}

/* rewiews end */
/* contact */
.contact {
    background-color: rgb(130, 238, 130);
    padding: 50px 0 20px;
    text-align: center;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4 #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4 #11999E);
    background-image: -o-linear-gradient(top, #11cdd4 #11999E);
    background-image: linear-gradient(to bottom, #11cdd4 #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb #2bc4ad);
    text-decoration: none;
}

.footer {
    padding-top: 30px;
}

.footer-link {
    color: #11999e;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.footer-link:hover {
    color: #eaf6f6;
}

.copywrite {
    font-family: 'Montserrat', sans-serif;
    color: #eaf6f6;
    padding: 20px 0;
}
/* contact end*/ 